h1 {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    text-align:  center;

}

h2 {
    text-align: center;
    

}

form,
.contact {
    display: flex;
    border: none;
    flex-wrap: wrap;
    width: 100%;
    
    

}

.newsletter {
    border: none;
    display: inline-block;

}



input {
    border-radius: 5px;
    background-color: lightgrey;
   
}

[name^="user_"] {
   
    width:100%;
    height: 35px;
}



button {
   background-color: lightblue; 
   padding: 10px;
   width: 100%;
   color: white;
   border: none;

}

